.example-container{
  display: flex;
  height: 670px;
  align-items: center;

}

.example-sidenav{
display: flex;
flex-direction: column;
gap: 30px;
background-color: rgb(95, 94, 94);
padding: 10px;
}
.side-bar-title{
  font-size: larger;
  font-weight: 700;
  color: white;
}
mat-nav-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
a{
  font-size: larger;
  font-weight: 600;
  color: rgb(224, 220, 220);
}
a:hover{
  background-color: rgba(255, 255, 255, 0.301);
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-toolbar{
  padding: 10px;
  background-color: rgb(231, 55, 181);
 width: 100%;
}
.active{
  color: orangered;
}
